*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgb(231, 231, 231);
    -webkit-box-shadow: 0px 7px 6px -10px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 7px 6px -10px rgba(0,0,0,0.59);
    box-shadow: 0px 7px 6px -10px rgba(0,0,0,0.59);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.header > div{
    height: 75px;
    margin: 5px;
}

.logo > img{
    height: 100%;
}

.judul{
    padding-top: 13px;
    font-family: "Arial Black", Gadget, sans-serif;
}

.nav{
    font-size: 18px;
    word-spacing: 50px;
    line-height: 75px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: 500;
    padding-right: 30px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #0053FF;
}